Hud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 0px;
	pointer-events: none;

	.role-icon
	{
		width: 320px;
		height: 320px;
		margin-bottom: -80px;
		object-fit: contain;
	}
}
