@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="title">@MyStringValue</div>
</root>

@code
{
	public string MyStringValue { get; set; } = "Hello World!";

	protected override int BuildHash() => System.HashCode.Combine( 0 );
}