{
  "Version": 2,
  "Mixers": {
    "Guid": "099d40fc-ecd6-4bb5-860e-38af25095970",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spatializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 0,
    "Reverb": 0,
    "AirAbsorption": 0,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "BlockingTags": null,
    "IgnoredTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "f97869f3-5eb9-447e-9544-721bf6e35302",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "2c051c79-ec2f-4fff-b9d5-49e9f1261f5f",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "6d3ebb0f-fc68-4745-be8c-e7c5997412e2",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "18ef291f-5c6c-4d41-9169-07bac6362575",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "339680cb-aa98-400a-b4ae-7ca4e66aaf34",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}