{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": false,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": false,
  "UpdateRate": 40,
  "__guid": "cafa6ce4-140e-4d3b-9e9a-a18e0c2e4169",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}